body, html {
    font-family: 'Ubuntu', sans-serif;
    height: 100%;
    margin: 0;
}
.logo{
    background-image: url("./images/logo.png");
    background-size: 30%;
    background-repeat: no-repeat;
    background-attachment: sticky;
    background-position: right;
    width: 95%;
    height: 95%;
    margin-right: 5%;
}
body {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    float: none;
    display: block;
}
.logo a{
    padding: 10px;
    float: none;
    display: block;
    text-decoration: none;
    color: aliceblue;
    fill: aliceblue;
    font-size: 100%;
    padding-left: 5%;
}
.logo svg{
    padding-right: 2%;
}
.socialnetworks{
    position: fixed;
    background-color: rgba(34,34,34,0.6);
    /* For IE 5.5 - 7*/
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    /* For IE 8*/
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222, endColorstr=#99222222);
    z-index:10;
    padding:10px;
    -moz-box-shadow:0px 0px 100px #000000;
    -webkit-box-shadow:0px 0px 100px #000000;
    box-shadow:0px 0px 100px #000000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    top: 50%;
    left: 30%;
    width: 400px;
    transform: translate(-50%, -50%);
}
.social{
    vertical-align:middle
}
@media screen and (max-width: 720px) {
    .logo {
        background-image: url("");
    }
    .socialnetworks{
        left: 50%;
    }
}